<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="landing.component.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    <section class="header-section">
      <div class="header-content-container">
        <div class="logo"></div>
        <h1 class="header-header">מתאמץ, מתאמן, מנצח.</h1>
        <p class="header-paragraph">
          יוניפייט חיפה - המקום שבו כל אחד מוצא את הכוח בתוכו!
        </p>
        <button class="header-cta btn">
          <span>להתחלה!</span>
        </button>
      </div>
    </section>
    <section class="right-decision">
      <h1 class="right-decision-header">ג'ודו - הבחירה הנכונה.</h1>
      <div class="decisions-list">
        <div class="decision">
          <div class="desicion-text">
            <b>שיפור כושר פיזי:</b> ג'ודו הוא ספורט שמתמקד בכוח וגמישות, וכמובן,
            עבודת שרירים ואימון קרבי. בעקבות האימונים בג'ודו, תשפר את כושר הלב,
            כוח השרירים והגמישות שלך.
          </div>
        </div>
        <div class="decision">
          <div class="desicion-text">
            <b>למידת טכניקות להגנה עצמית:</b> ג'ודו לא רק ספורט, אלא גם יכולת
            להגן עצמית. במהלך לימודי הג'ודו, תלמד טכניקות אשר יסייעו לך להתמודד
            בצורה אפקטיבית במצבי הסיכון והגנה עצמית.
          </div>
        </div>
        <div class="decision">
          <div class="desicion-text">
            <b>שיפור יכולת רכיבה עצמית:</b> כמו בכל ספורט קרבי, בג'ודו תלמד גם
            איך לקרב ולהתמודד עם יריבים. זה מפתח את היכולת שלך לפעול תחת לחץ
            ולקבל החלטות מהירות במצבי לחץ.
          </div>
        </div>
        <div class="decision">
          <div class="desicion-text">
            <b>קידום חברתיות ואמונה עצמית:</b> ג'ודו מקנה כושר פיזי ומנטלי יחד
            עם הקשר החברתי בין הספורטאים. התרגול המשותף והאימון ביחד מקנים לך
            אמון בעצמך וביכולתך להתמודד עם אתגרים.
          </div>
        </div>
        <div class="decision">
          <div class="desicion-text">
            <b>תרומה לתפיסת עולם:</b> המקורות התרבותיים של הג'ודו עוסקים בכבוד,
            אימה ושלום. דרך הג'ודו ניתן ללמוד ערכים אלו ולהפוך לאנשים טובים יותר
            בעולם זה.
          </div>
        </div>
      </div>
    </section>
    <section class="training-crew">
      <h1 class="training-crew-header">צוות המאמנים</h1>
      <div class="training-crew-content-container">
        <p class="training-crew-paragraph">
          צוות המאמנים שלנו מורכב מספורטאים מצליחים כיום או לשעבר, אשר מעוניינים
          להעביר את הידע והניסיון שלהם לדור הבא. כל מאמן בצוות זכה לניסיון רב
          בתחום ומבין באופן מעמיק כיצד לגרום לתלמידים שלו להתפתח באופן מיטבי. הם
          מתמקדים לא רק בטכניקות ובאימון פיזי, אלא גם בהתפתחות הרוחנית והמנטלית
          של הספורטאים. בזכות הידע הרחב והתמיכה המקצועית שהם מספקים, הם מובילים
          את התלמידים שלהם להצלחה מרבית בתחום הג'ודו.
        </p>
        <div class="training-crew-img-container">
          <img src="path/to/image1.jpg" alt="Image 1" class="training-crew-img training-crew-img1" />
          <img src="path/to/image2.jpg" alt="Image 2" class="training-crew-img training-crew-img2" />
          <img src="path/to/image3.jpg" alt="Image 3" class="training-crew-img training-crew-img3" />
          <img src="path/to/image4.jpg" alt="Image 4" class="training-crew-img training-crew-img4" />
        </div>
      </div>
    </section>
    <section class=""></section>
    <!-- <section class="club-achivements">
      <h1 class="achivements-header">הישגים ביוניפייט חיפה</h1>
      <div class="achivements-container">

        <div class="achivement achivement1">
          <div class="achivement-img"></div>
          <h3 class="achivement-header"></h3>
          <p class="achivementtext"></p>
        </div>
        <div class="achivement achivement2">
          <div class="achivement-img"></div>
          <h3 class="achivement-header"></h3>
          <p class="achivementtext"></p>
        </div>
        <div class="achivement achivement3">
          <div class="achivement-img"></div>   
          <h3 class="achivement-header"></h3>
          <p class="achivementtext"></p>
        </div>
        <div class="achivement achivement4">
          <div class="achivement-img"></div>
          <h3 class="achivement-header"></h3>
          <p class="achivementtext"></p>
        </div>
        <div class="achivement achivement5">
          <div class="achivement-img"></div>
          <h3 class="achivement-header"></h3>
          <p class="achivementtext"></p>   
        </div>
      </div>
    </section> -->
    <section class="timeline-section">
      <h1 class="timeline-header">טיסות, נסיעות וימים כיפים.</h1>
      <div class="timeline-container">
        <div class="line"></div>

        <div class="timeline-item timeline-item1">
          <div class="timeline-item-image-container"></div>
          <div class="timeline-item-content">
            <h4>תחרות בגרמניה</h4>
            <p>
              תחרות בינלאומית בגרמניה בא לקח מועדון יוניפייט חיפה חלק והביא
              תוצאות מרשימות.
            </p>
          </div>
        </div>

        <div class="timeline-item timeline-item2">
          <div class="timeline-item-image-container"></div>
          <div class="timeline-item-content">
            <h4>אירוח מועדונים שונים לאימון משוטף</h4>
          </div>
        </div>

        <div class="timeline-item timeline-item3">
          <div class="timeline-item-image-container"></div>
          <div class="timeline-item-content">
            <h4>תחרות בגרמניה</h4>
          </div>
        </div>

        <div class="timeline-item timeline-item4">
          <div class="timeline-item-image-container"></div>
          <div class="timeline-item-content">
            <h4>תחרות בגרמניה</h4>
          </div>
        </div>

        <div class="timeline-item timeline-item5">
          <div class="timeline-item-image-container"></div>
          <div class="timeline-item-content">
            <h4>תחרות בגרמניה</h4>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
